body{
    background-color: rgb(31, 20, 20);
    text-align: center;
}

h1{
    color: red;
}

#banner{
    color: white;
}
.btn{
    margin-top: 10px;
    padding: 20px 60px;
    border-radius: 10px;
    background-color: rgb(222, 181, 105);
    border: none;
}
